# Environnement virtuel
monenv/
venv/
.env

# Fichiers temporaires
__pycache__/
*.pyc

# Données volumineuses
data/
logs/
# dossier AWS
aws/
# Fichiers de configuration locale
.aws/
# dossier LocalStack
localstack/
.localstack/ 
# Fichier zip des lambdas
*.zip
